language = "python3"
#run = "python tests/parabola_plot.py"
#run = "python tests/assignment_48-1.py"
#run = "python tests/assignment_50-2.py"
#run = "python tests/test_euler_estimator.py"
#run = "python src/binary_search.py"
run = "python src/hodgkin_huxley.py"